<h1>Invoices</h1>

<% if user_signed_in? %>
  <div class="form__container">
    <%= render 'form', invoice: @invoice || Invoice.new, class: "form__content" %>
  </div>
<% end %>

<table class="table">
  <thead>
  <tr class="table__header">
    <th class="table__header">Client Name</th>
    <th class="table__header table__header--amount">Amount</th>
    <th class="table__header table__header--amount">Tax</th>
    <th class="table__header table__header--amount">Total</th>
    <% if user_signed_in? %>
      <th class="table__header"></th>
    <% end %>
  </tr>
  </thead>
  <tbody id="invoices">
  <%= render partial: 'invoice', :collection => @invoices %>.

  <%= paginate @invoices %>
  </tbody>
</table>