
.flash-container {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
}

.flash-message {
    margin-bottom: 10px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: fadeIn 0.5s;
    padding: 10px 15px 10px 10px;
}

.flash-message span {
    padding: 5px 10px 5px 5px;
}

.flash-error {
    background-color: #e74c3c;
}

.flash-alert {
    background-color: #e74c3c;
}

.flash-success {
    background-color: #2ecc71;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}