.navbar {
    background-color: #f8f9fa;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-links {
    display: flex;
    gap: 15px;
}

.nav-link {
    text-decoration: none;
    color: #007bff;
}

.welcome-message {
    margin-right: 10px;
}

.btn-logout {
    background-color: #dc3545;
    border-radius: 15px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.btn-logout:hover {
    background-color: #c82333;
}